body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 15px;
	background-color: #ededed;
	min-width: 780px;
	min-height: 600px;
}
header {
	position: absolute;
	left: -999px;
	font-size: 1px;
}
a {
	color: #0060df;
	text-decoration: none;
}
a:hover, a:focus, a:active {
	text-decoration: underline;
}
#controls {
	position: sticky;
	top: 0;
	background-color: #f9f9f9;
	padding: 8px 7px;
	overflow: hidden;
	color: #0c0c0c;
}
.ghost {
	color: #0c0c0ccc;
	border-radius: 2px;
	padding: 8px;
	background-color: transparent;
	border: 0;
	margin: 0 1px;
}
.ghost:hover {
	background-color: #0c0c0c19;
}
.ghost:active {
	background-color: #0c0c0c33;
}
.ghost:focus {
	box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px #0a84ff4c;
}
.ghost img {
	vertical-align: bottom;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
#statusbar {
	font-size: 17px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
}
#feed {
	padding: 0 12px;
}
.item {
	margin: 12px 0;
	border-radius: 8px;
	background-color: #d7d7d7;
}
.meta {
	padding: 4px 3px;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
}
.unread .meta {
	color: #000;
}
.read .meta {
	color: #000a;
}
.meta h2 {
	font-size: 22px;
	line-height: 32px;
	margin: 0 1px;
	float: left;
}
.read a {
	color: #0060dfaa;
}
.time {
	float: right;
	text-align: right;
	font-size: 13px;
	line-height: 16px;
	margin: 0 1px;
}
.description {
	padding: 12px;
	border-radius: 0 0 8px 8px;
	background-color: #fefefe;
	overflow-x: auto;
}
.description * {
	max-width: 100%;
}
.unread .description {
	color: #000;
}
.read .description {
	color: #000a;
}
